
.header{
    color:#F63E7B;

}
.button{
    background-color: #F63E7B;
    color:white;
    margin-left: 570px;
}
    

.head{
 
    margin-left: 80px;
}

.img{
    margin-left: 80px;
}
.service-head{
    color:#111430;
}
